.song-page{
    text-align: center;
    padding: 2%;
    font-family: Calibri;
    font-size: 35px;
    font-weight: bold ;
}


input {
    width: 25%;
    height: 30px;
    border-radius: 1px;
}

input[type=button]{
    background-color: red;
    color: white;
    width: 12.5%;
}
input[type=submit]{
    background-color: red;
    color: white;
}
input[type=reset]{
    background-color: red;
    color: white;
    width: 12.5%;
}

.msg-success{
    color: green;
}
.msg-error{
    color: red;
}